{% extends 'base.html' %}
{% block content %}

<style>
	body {
		background: #ecf0f1;
	}

	input[type='submit'] {
		height: 40px;
	}

	input[type='text'] {
		width: 90%;
		height: 40px;
		border: none;
		border: 2px solid grey;
		border-radius: 5px;
		padding-left: 10px;
	}

	input::placeholder {
		color: #888888;
	}

</style>

<h3 class="mt-5">Create Task</h3>
<hr>

<form action="/" method="POST" class="mb-5">
	{% csrf_token %}

	<div class="text-center">
		{{ form.title }}
		<input type="submit" value="Create Task" class="mt-3 btn btn-primary btn-block col-md-9">

	</div>
</form>

<br><br><br>

<h3>Your Tasks</h3>

<div class="text-center">
	<table class="table">
		<thead>
			<tr>
				<th class="col-md-4">Title</th>
				<th class="col-md-2">Task Completed</th>
				<th class="col-md-2">Update Task</th>
				<th class="col-md-2">Remove Task</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
			<tr>
				{% if task.complete == True %}
				<td>
					{{ task }}
				</td>
				<td>
					<i class="far fa-check-circle" style="color: green;"> Yes</i>
				</td>

				{% else %}

				<td>
					{{ task }}
				</td>
				<td>
					<i class="far fa-times-circle" style="color: red;"> No</i>
				</td>
				{% endif %}

				<td>
					<a href="{% url 'update' task.id %}" class="btn btn-warning">Edit</a>
				</td>
				<td>
					<a href="{% url 'delete' task.id  %}" class="btn btn-danger">Delete</a>
				</td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
